In [18]:
import pandas as pd
from io import StringIO
import numpy as np
from sklearn.impute import SimpleImputer
cvs_data = '''A,B,c,d
1,2,3,4
5,6,,8
10,11,12,'''

In [15]:
df = pd.read_csv(StringIO(cvs_data))
df.dropna(axis=1)

    A   B
0   1   2
1   5   6
2  10  11

In [16]:
imr = SimpleImputer(missing_values='NaN' , strategy='mean', axis=0)
imr = imr.fit(df.values)
imputer_data = imr.transform(df.values)
imputer_data

NameError: name 'Imputer' is not defined